@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .link {
    @apply hover:underline cursor-pointer
  }
  .btn1{
    @apply bg-[#f8f9fa] p-2 rounded-md cursor-pointer ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
